<svg width="480" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <foreignObject width="480" height="100%">
        <div xmlns="http://www.w3.org/1999/xhtml" class="container">

        

            <div class="main">
                           <div id="features">
                           <blockquote class="twitter-tweet">
                           <a href= "{{link|safe}}"></a>
                           </blockquote> 
                           <script src="widgets.js" charset="utf-8">
                           </script>
                           </div>
            </div>

        </div>
    </foreignObject>
</svg>
